<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{familyName}} - {{date}}
    </ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>
    <ion-buttons [collapse]="true" slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="menu">
   <ion-title>{{menu.name}}</ion-title>
  </ion-item>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Timing</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <li>Preparation time : {{menu.prepTime}}</li>
          <li>Cooking time : {{menu.cookingTime}}</li>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Ingredients</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <li *ngFor="let i of menu.ingredients">
            {{i}}
          </li>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Steps</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <li *ngFor="let i of menu.instructions">
            {{i}}
          </li>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-item *ngIf="!menu">
    <div>
      <h3>No Menu chosen</h3>
      <br>
      <h4 [routerLink]="['/home','day-menu']">Click here to add a menu</h4>
    </div>
  </ion-item>
</ion-content>
