<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-stretch">

  <ion-grid>
    <ion-row id="googleLogInButton">
      <ion-col offsetXs="0" offsetSm="3" offsetMd="4" sizeXs="12" sizeSm="6" sizeMd="4">
        <ion-item class="ion-margin-vertical" color="light" (click)="signIn(1)">
          <div slot="start">
            <ion-icon size="large" name="logo-google"></ion-icon>
          </div>
          <ion-label>Login with Google</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row id="signInForm">
      <ion-col offsetXs="0" offsetSm="3" offsetMd="4" sizeXs="12" sizeSm="6" sizeMd="4">
        <form (ngSubmit)="signIn(2)">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" ></ion-input>
          </ion-item>

          <ion-button type="submit" expand="block">Sign In</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row id="signUpForm">
      <ion-col offsetXs="0" offsetSm="3" offsetMd="4" sizeXs="12" sizeSm="6" sizeMd="4">
        <form (ngSubmit)="signUp()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">firstName</ion-label>
            <ion-input type="text" [(ngModel)]="firstName" name="password" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">lastName</ion-label>
            <ion-input type="text" [(ngModel)]="lastName" name="password" ></ion-input>
          </ion-item>
          <ion-select placeholder="Select a family" [(ngModel)]="familyId" name="familyId" (ionChange)="familySelected()">
            <ion-select-option *ngFor="let family of families" [value]="family.id">{{ family.name }}</ion-select-option>
            <ion-select-option [value]="'createNewFamily'">Create a new family</ion-select-option>
          </ion-select>
          <ion-button type="submit" expand="block">Sign Up</ion-button>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
