<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-stretch">

  <ion-grid>
    <ion-row>
      <ion-col offsetXs="0" offsetSm="3" offsetMd="4" sizeXs="12" sizeSm="6" sizeMd="4">

        <ion-item class="ion-margin-vertical" color="light" (click)="authService.signInWithGoogle()">
          <div slot="start">
            <ion-icon size="large" name="logo-google"></ion-icon>
          </div>
          <ion-label>Login with Google</ion-label>
        </ion-item>


        <form (ngSubmit)="signIn()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" ></ion-input>
          </ion-item>

          <ion-button type="submit" expand="block">Sign In</ion-button>
        </form>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
