<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Select a recepy for {{planningService.dateForDetail | customDate : 'dayMonthShort'}}
    </ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>
    <ion-buttons [collapse]="true" slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
        Available recipes
    </ion-list-header>
    <ion-item *ngFor="let r of recepyService.getAllRecepies()" >
     <ion-button [color]="planningService.recipeIsPlannedForToday(r,planningService.dateForDetail) ? 'primary' :''"
                 (click)="setMenuForDate(r)">
       {{r.name}}
     </ion-button>
    </ion-item>
  </ion-list>
  <ion-item>
    <h4>haven't found what you are looking for?</h4>
    <ion-button [routerLink]="'cookbook'" fill="outline">add a recipe in the cookbook</ion-button>
  </ion-item>
</ion-content>
