<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Select menu
    </ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>
    <ion-buttons [collapse]="true" slot="end">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item-group class="justify-content-center text-center">
        <ion-item *ngFor="let r of recepyService.getAllRecepies() | async">
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <ion-button size="large" expand = "block"
                            [color]="planningService.isRecipeIsPlannedForToday(r,selectionDate) ? 'primary' :'alert'"
                            (click)="changeMenu(r)">
                  {{r.name}}
                </ion-button>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>

        </ion-item>
      </ion-item-group>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center ion-text-center">
        <ion-button [routerLink]="'/cookbook'" fill="outline" class="ion-text-center">add a recipe in the cookbook</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
