<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Family Settings
    </ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>
    <ion-buttons [collapse]="true" slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Family Settings</ion-title>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-fab *ngIf='fabIsVisible' vertical='bottom' horizontal='end' slot='fixed'>
    <ion-fab-button [routerLink]="['/family-settings','family-member']">
      <ion-icon name='add' ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Family Name</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-input type="text" class="ion-margin-top"
                     [(ngModel)]='familyName'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item-divider/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label>
            Family Members
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item *ngFor='let fm of familyMembers'>
          <ion-label [routerLink]="['/family-settings','family-member',fm.id]">
            {{fm.firstName}} {{fm.lastName}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
