<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cookbook
    </ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>
    <ion-buttons [collapse]="true" slot="end">
      <ion-back-button defaultHref="/" text = ""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'
             [scrollEvents]='true'
             (ionScrollStart)="logScrollStart()"
             (ionScrollEnd)="logScrollEnd()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cookbook</ion-title>
      <ion-buttons [collapse]="true" slot="end">
        <ion-back-button defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row id="cookbookRecipeList" *ngIf="recipes.length > 0">
          <ion-col>
            <app-recipe-item  *ngFor='let r of recipes'
                              [recipe]='r'>
            </app-recipe-item>
          </ion-col>
        </ion-row>
     <ion-row id="emptyCookbook" *ngIf="recipes.length === 0">
        <div>
          <h3>An empty cookbook fills no stomach</h3>
          <ion-button [routerLink]="['recipe']">add a Recipe</ion-button>
        </div>
      </ion-row>
  </ion-grid>

  <ion-fab *ngIf='fabIsVisible' vertical='bottom' horizontal='end' slot='fixed'>

    <ion-fab-button [routerLink]="['recipe']">
      <ion-icon name='add' ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
