<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="id; else createActivity">
      {{familyName}} - {{activityName}}
    </ion-title>
    <ng-template #createActivity>
      <ion-title>Create new activity for {{familyName}} on {{date}}</ion-title>
    </ng-template>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-button (click)="handleCreateAndUpdate()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-label position="floating">Activity name</ion-label>
    <ion-input type="text" class="ion-margin-top"
               [(ngModel)]='activityName'></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Location</ion-label>
    <ion-input type="text" class="ion-margin-top"
               [(ngModel)]='activityLocation'></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Description</ion-label>
    <ion-textarea cols="20" rows="4" [autoGrow]="true"
                  [(ngModel)]='description'>
    </ion-textarea>
  </ion-item>

  <ion-item-divider></ion-item-divider>

  <ion-list lines="none" *ngIf="participants.length > 0">
    <ion-list-header>
      Labels
    </ion-list-header>

    <ion-item *ngFor='let p of participants; let i = index'>
      <ion-checkbox slot='start' [(ngModel)]='selectedParticipants[i]'></ion-checkbox>
      <ion-label>{{p.firstName}} {{p.lastName}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item-divider></ion-item-divider>

  <ion-list lines="none" *ngIf="labels.length > 0">
    <ion-list-header>
      Labels
    </ion-list-header>

    <ion-item *ngFor='let label of labels; let i = index'>
      <ion-checkbox slot='start' [color]='label.color' [(ngModel)]='selectedLabels[i]'></ion-checkbox>
      <ion-label [color]='label.color'>{{label.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
