<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{familyName}}
    </ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{familyName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-buttons class="ion-justify-content-center" [collapse]="true" slot="end">
      <ion-button size="small" (click)="changeWeek('previous')"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
      <div>
        <div *ngIf="!weekSpansMonth; else fullDate">
          <div >
            {{currentWeekDays[0] | customDate: 'day' }} to {{currentWeekDays[6] | customDate: 'dayMonth' }}
          </div>
        </div>
        <ng-template #fullDate>
          {{currentWeekDays[0] | customDate: 'dayMonthShort' }} to {{currentWeekDays[6] | customDate: 'dayMonthShort' }}
        </ng-template>
      </div>
      <ion-button size="small" (click)="changeWeek('next')"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
    </ion-buttons>
    <app-day-card *ngFor="let day of currentWeekDays" [day]='day'>
    </app-day-card>
  </div>
</ion-content>
<ion-footer>

</ion-footer>
