<ion-card class="ion-text-center" *ngIf="recipe">
  <ion-card-header>
    <ion-card-title>
      <ion-item-sliding>
        <ion-item-options side='end'>
          <ion-item-option color='danger' (click)='recipeService.deleteRecipe(recipe.id)'>
            <ion-icon slot="icon-only" name='trash'></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-title [routerLink]="['/cookbook','recipe',recipe.id]">
            {{recipe.name}}
          </ion-title>
        </ion-item>
      </ion-item-sliding>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list class="ion-text-center">
      <ion-item >{{recipe.description}}</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

