<ion-header>
</ion-header>
<ion-content class="ion-padding" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-item class="ion-text-center"> {{question}}</ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-justify-content-center ion-text-center">
        <ion-button (click)="confirm()">Confirm</ion-button>
      </ion-col>
      <ion-col class="ion-justify-content-center ion-text-center">
        <ion-button (click)="cancel()">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

